*.pyc
*~
.ipynb_checkpoints

########################
# Python Lex Yacc files
########################
concept_space_parsetab.py
ivy_formulatab.py
ivy_parsetab.py
ivy_termtab.py

########################
# LATEX temp files
########################
*.aux
*.log
*.nav
*.out
*.snm
*.toc
